@{
  Layout = "_Layout";
}

@model YourVillage.Models.Child


<h4>Add a new Child to your Family Profile</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(ViewBag => ViewBag.FamilyId)
    <p>First Name: </p>
    @Html.TextBoxFor(model => model.FirstName)
    <p>Last Name: </p> 
    @Html.TextBoxFor(model => model.LastName)
    <br>
    @Html.LabelFor(model => model.Birthday)  
    @Html.TextBoxFor(model => model.Birthday, "{0:yyyy-MM-dd}", new { type="date" })
    <br>
    @Html.LabelFor(model => model.Nickname)   
    @Html.TextBoxFor(model => model.Nickname)


    <br/>
  <br/>

    <input type="submit" value="Add Child" class="btn btn-primary"/>
}
<br/>
@* <p><b>@Html.ActionLink("Your Children", "Index", new { id = model.FamilyId })</b></p> *@