@{
  Layout = "_Layout";
}

@model YourVillage.Models.Child

<h3>Add a new Child to your Family Profile</h3>

@using (Html.BeginForm())
{
  <div class = "well">
    <p>First Name: </p>
    @Html.TextBoxFor(model => model.FirstName)
    <p>Last Name: </p> 
    @Html.TextBoxFor(model => model.LastName)
    <br>
    @Html.LabelFor(model => model.Birthday)  
    @Html.TextBoxFor(model => model.Birthday, "{0:yyyy-MM-dd}", new { type="date" })
    <br>
    @Html.LabelFor(model => model.Nickname)   
    @Html.TextBoxFor(model => model.Nickname)
    <br>
  </div>
  <br>

    <input type="submit" value="Add Child" class="btn btn-primary" />
}
<br>
<p><b>@Html.ActionLink("Your Children", "Index")</b></p>